.search-result-wrapper {
    .search-result-inner{
        width: 70%;
        @media(max-width: 991px) {
            width: 100%;
        }
        .search-result {
            margin-bottom: 20px;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 15px;
            padding: 10px 15px;
    
            @media(max-width: 991px) {
                width: 100%;
                padding: 10px 10px;
            }
    
            .search-result-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                .logo {
                    margin-right: 50px;
    
                    @media(max-width: 767px) {
                        margin-right: 15px;
                    }
    
                    @media(max-width: 480px) {
                        margin-right: 10px;
                        width: 20%;
                    }
    
                    img {
                        max-width: 80px;
                        @media(max-width: 575px){
                            max-width: 50px;
                        }
                    }
                }
    
                .right {
                    width: 80%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
    
                    @media(max-width: 767px) {
                        width: 100%;
                    }
    
                    a {
                        display: block;
                        margin-left: 0;
                        font-size: 22px;
                        transition: 0.2s ease-in-out;
                        @media(max-width: 767px){
                            font-size: 20px;
                        }
                        @media(max-width: 575px){
                            font-size: 16px;
                        }
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
    
                    span {
                        color: $white;
                        font-size: 14px;
                    }
    
                    .right-right {
                        h6 {
                            color: $white;
                            font-weight: 300;
                            font-size: 20px;
                            margin-bottom: 0;
                            @media(max-width: 767px){
                                font-size: 18px;
                            }
                            @media(max-width: 575px){
                                font-size: 14px;
                            }
                        }
                    }
    
                    p {
                        color: $white;
                        margin-bottom: 0px;
                        @media(max-width: 767px) {
                            font-size: 15px;
                        }
                        @media(max-width: 575px) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .next-btn-wrapper{
            text-align: center;
            font-size: 18px;
            a{
                color: $white;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}